{% extends 'base.html' %}
{% load static %}

{% block title %}Landing{% endblock %}

{% block content %}
<div style="padding-top: 60px;" class="text-center">
	{% if user.is_authenticated %}
	<br><br>
  		<h1 style="font-family: Brush Script Std;"><strong>Welcome, {{user.username}}!</strong></h1>
  		<p style="font-family: Lucida Handwriting;">enjoy ur day!:)</p>
  		<img style="width: 50%" src="{% static 'img/unintended.jpg' %}">
	{% else %}
  		<p>You are not logged in</p>
  		<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}