{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<br>
<div style="padding-top: 60px;" class="text-center">
	<br><br><br>
	<h2>Login</h2>
	<br>
	<p style="font-size: 10px";>unintended//emomuse99</p>
	<form method="post">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<button type="submit" id="submit">Login</button>
	</form>
</div>
{% endblock %}