{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
	<br><br><br>
	<h1 style="font-family: Stencil Std, fantasy">Hey, you. Login first!</h1><br>
	<img style="width: 60%" src="{% static 'img/main1.jpg' %}"><br><br>
{% endblock %}