{% if user.is_authenticated %}
<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-end fixed-top">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav d-flex mr-auto">
      <a class="nav-item nav-link active" href="{% url 'story9:main' %}">Home<span class="sr-only">(current)</span></a>
    </div>
    <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="{% url 'logout' %}">Logout</a>
    </ul>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-end fixed-top">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav d-flex mr-auto">
      <a class="nav-item nav-link active" href="{% url 'story9:main' %}">Home <span class="sr-only">(current)</span></a>
    </div>
    <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="{% url 'login' %}">Login</a>
      </ul>
  </div>
</nav>
{% endif %}
